{% extends 'inventory/base.html' %}

{% block topic %}
    <div class="header-container">
        <h5>Устройство</h5>
    </div>
{% endblock %}

{% block content%}
    <form id="updateComputerForm" method="post">
        {% csrf_token %}
        {{ computer_form.as_p }}
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </form>
    {% if messages %}
        <div class="messages">
            {% for message in messages %}
                <div class="alert alert-success">
                    {{ message }}
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}